[Unit]
Description=Sausage Store Backend Service
After=network.target
[Service]
User=backend
Group=backend
WorkingDirectory=/var/sausage-store/
Environment=LOG_PATH=/var/sausage-store/
Environment=REPORT_PATH=/var/sausage-store/reports/

EnvironmentFile=/home/student/psql.env
Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASSWORD}"

EnvironmentFile=/home/student/mongo.env
Environment=SPRING_DATA_MONGODB_URI="mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DATABASE}?ssl=true"

ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java -Djavax.net.ssl.trustStore=/etc/ssl/certs/java/cacerts -Djavax.net.ssl.trustStorePassword=${CERT_PASS} -jar /opt/sausage-store/bin/sausage-store.jar

[Install]
WantedBy=multi-user.target